*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: $base-color;
  outline: 2px solid $base-color;
}

@media (max-width: 767px) {
  .swiper-slide {
    opacity: 0.3;

    &-active {
      opacity: 1;
    }
  }
}

.swiper-pagination {
  position: relative;
  left: auto;
  bottom: auto;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #cecece;
  border-radius: 0;

  &-active {
    background-color: $green-color;
  }

  &:hover {
    background-color: #95cbc7;
  }
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 7px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin-top: 20px;
  bottom: auto;
}

.swiper-pagination.swiper-pagination-fraction {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: $green-color;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 1.4;
  }
}
