$base-color: #414141;
$light-color: #a4a4a4;
$green-color: #3b8f9e;
$blue-color: #8ac3e9;
$light-green-color: #95cbc7;
$brown: #d9b696;
$stroke: 2px solid $base-color;

$reg-font: "Ubuntu", Arial, Helvetica, sans-serif;
$first-letter: "classica_oneregular";

$transition-time: 0.3s;
$transition-type: ease-in-out;
$transition: $transition-time $transition-type;
