@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title {
  margin: 0;
  font-weight: 300;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0.095em;
  color: $base-color;

  &::first-letter {
    font-family: $first-letter;
    font-size: 130px;
    line-height: 100px;
    letter-spacing: 0.12em;
  }

  @media (max-width: 767px) {
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */

    text-align: right;
    letter-spacing: 0.095em;

    &::first-letter {
      font-size: 64px;
      line-height: 1;
      text-align: right;
      letter-spacing: 0.12em;
    }
  }
}

@mixin wrapper {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}
