---
title: Контакты | Пожертвовать
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="donate  donate--with-bg  donate--complete">
  <div class="donate__wrapper">
    <div class="donate__complete-text">
      <h2>Я помогаю
        фонду сохранения
        и развития усадьбы «Полибино»!</h2>


      <p>Роман Абрамович,
        ваша оплата прошла успешно! Сумма пожертвования: 1000 руб.</p>

      <div class="donate__complete-share">
        <p>Поделиться:</p>
        <script src="https://yastatic.net/share2/share.js"></script>
        <div class="ya-share2" data-curtain data-shape="round" data-services="vkontakte,odnoklassniki,telegram"></div>
      </div>
    </div>
  </div>

</section>


{% endblock %}
