---
title: Главная страница
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="promo">
  <div class="promo__wrapper">
    <h2 class="promo__title">Заголовок</h2>
    <div class="promo__text">
      <p>Краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст
        краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст.</p>
    </div>
  </div>
</section>

<section class="mission">
  <div class="mission__wrapper">
    <h2 class="mission__title">Миссия фонда</h2>
    <a class="mission__link" href="#">
      Подробнее о фонде
      <svg aria-hidden="true" width="16" height="14">
        <use href="images/sprite_auto.svg#icon-arrow"></use>
      </svg>
    </a>
    <div class="mission__text">
      <p>Таким образом укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий
        условий активизации. С другой стороны сложившаяся структура организации играет важную роль в формировании
        соответствующий условий активизации. Разнообразный и богатый опыт рамки и место обучения кадров способствует
        подготовки и реализации дальнейших направлений развития.</p>
    </div>
  </div>
</section>

<section class="news">
  <div class="news__wrapper">
    <h2 class="visually-hidden">Новости</h2>
    <ul class="news__list">
      <li class="news__item  news__item--main">
        <article class="news__article">
          <div class="news__photo">
            <img src="images/news-photo-big.jpg" width="850" height="350" loading="lazy" alt="Фотография к новости">
          </div>
          <div class="news__type">Проект</div>
          <time class="news__date" datetime="2021-07-15">15.07.2021, чт</time>
          <h3 class="news__title">Началась реставрация фасада усадьбы Полибино</h3>
          <div class="news__lead">
            <p>Краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий
              текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст.</p>
          </div>
          <a class="news__link  news__link--bg  news__link--blue" href="#">
            Поддержать
            <svg aria-hidden="true" width="16" height="14">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
          <a class="news__link" href="#">
            Читать
            <svg aria-hidden="true" width="16" height="14">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <div class="news__photo">
            <img src="images/news-photo-1.jpg" width="410" height="350" loading="lazy" alt="Фотография к новости">
          </div>
          <div class="news__type  news__type--green">Событие</div>
          <time class="news__date" datetime="2021-07-15">15.07.2021, чт</time>
          <h3 class="news__title">Авторские экскурсии по усадьбе</h3>
          <div class="news__lead">
            <p>Краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст.</p>
          </div>
          <a class="news__link  news__link--bg  news__link--green" href="#">
            Посетить
            <svg aria-hidden="true" width="16" height="14">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <div class="news__photo">
            <img src="images/news-photo-2.jpg" width="410" height="350" loading="lazy" alt="Фотография к новости">
          </div>
          <div class="news__type  news__type--brown">Новость</div>
          <time class="news__date" datetime="2021-07-15">15.07.2021, чт</time>
          <h3 class="news__title">Более 100 человек стали патронами фонда</h3>
          <div class="news__lead">
            <p>Краткий текст краткий текст краткий текст краткий текст текст.</p>
          </div>
          <a class="news__link" href="#">
            Читать
            <svg aria-hidden="true" width="16" height="14">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <div class="news__photo">
            <img src="images/news-photo-3.jpg" width="410" height="350" loading="lazy" alt="Фотография к новости">
          </div>
          <div class="news__type">Проект</div>
          <time class="news__date" datetime="2021-07-15">15.07.2021, чт</time>
          <h3 class="news__title">Началась реставрация фасада усадьбы Полибино</h3>
          <div class="news__lead">
            <p>Краткий текст краткий текст краткий текст краткий текст текст.</p>
          </div>
          <a class="news__link  news__link--bg  news__link--blue" href="#">
            Поддержать
            <svg aria-hidden="true" width="16" height="14">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
          <a class="news__link" href="#">
            Читать
            <svg aria-hidden="true" width="16" height="14">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <div class="news__photo">
            <img src="images/news-photo-4.jpg" width="410" height="350" loading="lazy" alt="Фотография к новости">
          </div>
          <div class="news__type  news__type--brown">Новость</div>
          <time class="news__date" datetime="2021-07-15">15.07.2021, чт</time>
          <h3 class="news__title">Более 100 человек стали патронами фонда</h3>
          <div class="news__lead">
            <p>Краткий текст краткий текст краткий текст краткий текст текст.</p>
          </div>
          <a class="news__link" href="#">
            Читать
            <svg aria-hidden="true" width="16" height="14">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>

<section class="sponsors">
  <div class="sponsors__become">
    <div class="sponsors__wrapper">
      <div class="sponsors__become-title">Стать меценатом фонда</div>
      <a class="sponsors__become-link" href="#">
        Поддержать


        <svg aria-hidden="true" width="16" height="14">
          <use href="images/sprite_auto.svg#icon-arrow"></use>
        </svg>

      </a>
    </div>
  </div>
  <div class="sponsors__wrapper">
    <h2 class="sponsors__title"><span>Меценаты,</span> <span>Спонсоры,</span> <span>Партнеры</span></h2>

    <ul class="sponsors__list">
      {% for i in range(0, 3) -%}
      <li class="sponsors__item">
        <article class="sponsors__item-article">
          <div class="sponsors__item-photo">
            <img src="//via.placeholder.com/300x254" width="300" height="254" alt="Описание фотографии">
          </div>
          <div class="sponsors__type">Меценат</div>
          <h3 class="sponsors__item-title">Иванов <br>
            Иван <br>
            Иванович</h3>
          <div class="sponsors__item-text">
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
          </div>
        </article>
      </li>
      {%- endfor %}
    </ul>
    <ul class="sponsors__list">
      {% for i in range(0, 3) -%}
      <li class="sponsors__item">
        <article class="sponsors__item-article">
          <div class="sponsors__item-photo">
            <img src="//via.placeholder.com/300x254" width="300" height="254" alt="Описание фотографии">
          </div>
          <div class="sponsors__type  sponsors__type--blue">Спонсор</div>
          <h3 class="sponsors__item-title">Иванов <br>
            Иван <br>
            Иванович</h3>
          <div class="sponsors__item-text">
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
          </div>
        </article>
      </li>
      {%- endfor %}
    </ul>
    <ul class="sponsors__list">
      {% for i in range(0, 3) -%}
      <li class="sponsors__item">
        <article class="sponsors__item-article">
          <div class="sponsors__item-photo">
            <img src="//via.placeholder.com/300x254" width="300" height="254" alt="Описание фотографии">
          </div>
          <div class="sponsors__type  sponsors__type--light-green">Партнер</div>
          <h3 class="sponsors__item-title">Иванов <br>
            Иван <br>
            Иванович</h3>
          <div class="sponsors__item-text">
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
          </div>
        </article>
      </li>
      {%- endfor %}
    </ul>
    <div class="sponsors__links">
      <a href="#">
        Все меценаты
        <svg aria-hidden="true" width="16" height="14">
          <use href="images/sprite_auto.svg#icon-arrow"></use>
        </svg>
      </a>
      <a href="#">
        Все спонсоры
        <svg aria-hidden="true" width="16" height="14">
          <use href="images/sprite_auto.svg#icon-arrow"></use>
        </svg>
      </a>
      <a href="#">
        Все партнеры
        <svg aria-hidden="true" width="16" height="14">
          <use href="images/sprite_auto.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>

<section class="contacts">
  <div class="contacts__wrapper">
    <div class="contacts__descr">
      <h2 class="contacts__title">Полибино <br>на карте</h2>
      <div class="contacts__text">
        <p>Липецкая область, Данковский район, село Полибино, ул. Школьная, д.4</p>
        <p><a class="contacts__link" href="mailto:">usadba.polibino@gmail.com</a></p>
        <p><a class="contacts__link" href="tel:">8 999 999 99 99</a></p>
        <a class="contacts__learn-more" href="#">
          Подробнее
          <svg aria-hidden="true" width="16" height="14">
            <use href="images/sprite_auto.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="contacts__map">
      <div class="contacts__map-wrapper">
        <script type="text/javascript" charset="utf-8" async
          src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ade46ff56c10a060a4169760a8c9590e4cf591c78368a31aadbd2780c2d91f11c&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
    </div>
  </div>
</section>

{% endblock %}
