---
title: Главная страница
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="promo">
  <div class="promo__wrapper">
    <h2 class="promo__title">Заголовок</h2>
    <div class="promo__text">
      <p>Краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст
        краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст.</p>
    </div>
  </div>
</section>

<section class="mission">
  <div class="mission__wrapper">
    <h2 class="mission__title" data-aos="fade-up">Миссия фонда</h2>
    <a class="mission__link" href="#">
      Подробнее о фонде
      <svg aria-hidden="true" width="16" height="14">
        <use href="images/sprite_auto.svg#icon-arrow"></use>
      </svg>
    </a>
    <div class="mission__text" data-aos="fade-up">
      <p>Таким образом укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий
        условий активизации. С другой стороны сложившаяся структура организации играет важную роль в формировании
        соответствующий условий активизации. Разнообразный и богатый опыт рамки и место обучения кадров способствует
        подготовки и реализации дальнейших направлений развития.</p>
    </div>
  </div>
</section>

<section class="news" data-aos="fade-up">
  <div class="news__wrapper">
    <h2 class="visually-hidden">Новости</h2>
    <div class="swiper-container">
      <ul class="news__list  swiper-wrapper">
        <li class="news__item  news__item--main  swiper-slide">
          <article class="news__article">
            <div class="news__photo">
              <a href="#">
                <picture>
                  <source media="(max-width: 767px)" srcset="images/news-photo-1-mobile.jpg">
                  <source media="(min-width: 768px)" srcset="images/news-photo-big.jpg">
                  <img src="images/news-photo-big.jpg" width="850" height="350" loading="lazy"
                    alt="Фотография к новости">
                </picture>

                <!-- <img src="images/news-photo-big.jpg" width="850" height="350" loading="lazy" alt="Фотография к новости"> -->
              </a>
            </div>
            <div class="news__type">Проект</div>
            <time class="news__date" datetime="2021-07-15">15.07.2021, чт</time>
            <h3 class="news__title"><a href="#">Началась реставрация фасада усадьбы Полибино</a></h3>
            <div class="news__lead">
              <p>Краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст
                краткий
                текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст.</p>
            </div>
            <a class="news__link  news__link--bg  news__link--blue" href="#">
              Поддержать
              <svg aria-hidden="true" width="16" height="14">
                <use href="images/sprite_auto.svg#icon-arrow"></use>
              </svg>
            </a>
            <a class="news__link" href="#">
              Читать
              <svg aria-hidden="true" width="16" height="14">
                <use href="images/sprite_auto.svg#icon-arrow"></use>
              </svg>
            </a>
          </article>
        </li>
        <li class="news__item  swiper-slide">
          <article class="news__article">
            <div class="news__photo">
              <picture>
                <source media="(max-width: 767px)" srcset="images/news-photo-1-mobile.jpg">
                <source media="(min-width: 768px)" srcset="images/news-photo-2.jpg">
                <img src="images/news-photo-1.jpg" width="410" height="350" loading="lazy" alt="Фотография к новости">
              </picture>
            </div>
            <div class="news__type  news__type--green">Событие</div>
            <time class="news__date" datetime="2021-07-15">15.07.2021, чт</time>
            <h3 class="news__title">Авторские экскурсии по усадьбе</h3>
            <div class="news__lead">
              <p>Краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст.</p>
            </div>
            <a class="news__link  news__link--bg  news__link--green" href="#">
              Посетить
              <svg aria-hidden="true" width="16" height="14">
                <use href="images/sprite_auto.svg#icon-arrow"></use>
              </svg>
            </a>
          </article>
        </li>
        <li class="news__item  swiper-slide">
          <article class="news__article">
            <div class="news__photo">
              <picture>
                <source media="(max-width: 767px)" srcset="images/news-photo-1-mobile.jpg">
                <source media="(min-width: 768px)" srcset="images/news-photo-3.jpg">
                <img src="images/news-photo-2.jpg" width="410" height="350" loading="lazy" alt="Фотография к новости">
              </picture>
            </div>
            <div class="news__type  news__type--brown">Новость</div>
            <time class="news__date" datetime="2021-07-15">15.07.2021, чт</time>
            <h3 class="news__title">Более 100 человек стали патронами фонда</h3>
            <div class="news__lead">
              <p>Краткий текст краткий текст краткий текст краткий текст текст.</p>
            </div>
            <a class="news__link" href="#">
              Читать
              <svg aria-hidden="true" width="16" height="14">
                <use href="images/sprite_auto.svg#icon-arrow"></use>
              </svg>
            </a>
          </article>
        </li>
        <li class="news__item  swiper-slide">
          <article class="news__article">
            <div class="news__photo">
              <picture>
                <source media="(max-width: 767px)" srcset="images/news-photo-1-mobile.jpg">
                <source media="(min-width: 768px)" srcset="images/news-photo-3.jpg">
                <img src="images/news-photo-3.jpg" width="410" height="350" loading="lazy" alt="Фотография к новости">
              </picture>
            </div>
            <div class="news__type">Проект</div>
            <time class="news__date" datetime="2021-07-15">15.07.2021, чт</time>
            <h3 class="news__title">Началась реставрация фасада усадьбы Полибино</h3>
            <div class="news__lead">
              <p>Краткий текст краткий текст краткий текст краткий текст текст.</p>
            </div>
            <a class="news__link  news__link--bg  news__link--blue" href="#">
              Поддержать
              <svg aria-hidden="true" width="16" height="14">
                <use href="images/sprite_auto.svg#icon-arrow"></use>
              </svg>
            </a>
            <a class="news__link" href="#">
              Читать
              <svg aria-hidden="true" width="16" height="14">
                <use href="images/sprite_auto.svg#icon-arrow"></use>
              </svg>
            </a>
          </article>
        </li>
        <li class="news__item  swiper-slide">
          <article class="news__article">
            <div class="news__photo">
              <picture>
                <source media="(max-width: 767px)" srcset="images/news-photo-1-mobile.jpg">
                <source media="(min-width: 768px)" srcset="images/news-photo-4.jpg">
                <img src="images/news-photo-4.jpg" width="410" height="350" loading="lazy" alt="Фотография к новости">
              </picture>
            </div>
            <div class="news__type  news__type--brown">Новость</div>
            <time class="news__date" datetime="2021-07-15">15.07.2021, чт</time>
            <h3 class="news__title">Более 100 человек стали патронами фонда</h3>
            <div class="news__lead">
              <p>Краткий текст краткий текст краткий текст краткий текст текст.</p>
            </div>
            <a class="news__link" href="#">
              Читать
              <svg aria-hidden="true" width="16" height="14">
                <use href="images/sprite_auto.svg#icon-arrow"></use>
              </svg>
            </a>
          </article>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>'

{% include "partials/_sponsors.html" %}

<section class="contacts">
  <div class="contacts__wrapper">
    <div class="contacts__descr">
      <h2 class="contacts__title">Полибино <br>на карте</h2>
      <div class="contacts__text">
        <p>Липецкая область, Данковский район, село Полибино, ул. Школьная, д.4</p>
        <p>
          <a class="contacts__link" href="mailto:">
            usadba.polibino@gmail.com <svg aria-hidden="true" width="20" height="14">
              <use href="images/sprite_auto.svg#icon-mail"></use>
            </svg>
          </a>
        </p>
        <p>
          <a class="contacts__link" href="tel:">
            8 999 999 99 99
            <svg aria-hidden="true" width="20" height="19">
              <use href="images/sprite_auto.svg#icon-phone"></use>
            </svg>
          </a>
        </p>
        <a class="contacts__learn-more" href="#">
          Подробнее
          <svg aria-hidden="true" width="16" height="14">
            <use href="images/sprite_auto.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="contacts__map" data-aos="fade-up">
      <div class="contacts__map-wrapper">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Ade46ff56c10a060a4169760a8c9590e4cf591c78368a31aadbd2780c2d91f11c&amp;source=constructor"
          width="100%" height="450" frameborder="0"></iframe>
      </div>
    </div>
    <a class="contacts__learn-more" href="#">
      Подробнее
      <svg aria-hidden="true" width="16" height="14">
        <use href="images/sprite_auto.svg#icon-arrow"></use>
      </svg>
    </a>
  </div>
</section>
<section class="subscribe">
  <div class="subscribe__wrapper">
    <h2 class="subscribe__title">Подпишитесь <br>на нас</h2>

    <section class="social">
      <ul class="social__list social__list--vertical">
        <li class="social__item">
          <a class="social__link  social__link--inst" href="#">
            <span class="visually-hidden">Страница в инстаграме</span>
            <svg aria-hidden="true" width="61" height="61">
              <use href="images/sprite_auto.svg#icon-inst"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link  social__link--trip" href="#">
            <span class="visually-hidden">Страница в трипадвайзере</span>
            <svg aria-hidden="true" width="61" height="36">
              <use href="images/sprite_auto.svg#icon-trip"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link  social__link--vk" href="#">
            <span class="visually-hidden">Страница в вк</span>
            <svg aria-hidden="true" width="60" height="35">
              <use href="images/sprite_auto.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link  social__link--fb" href="#">
            <span class="visually-hidden">Страница на фейсбуке</span>
            <svg aria-hidden="true" width="30" height="61">
              <use href="images/sprite_auto.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
      </ul>
    </section>

    <section class="subscribe__pictures-block">
      <ul class="subscribe__pictures-list">
        {% for i in range(1, 7) -%}
        <li class="subscribe__pictures-item"><a href="#"><img src="images/subscribe/subscribe-pic-{{ i }}.jpg"
              width="300" height="300" alt="Описание картинки"></a></li>
        {%- endfor %}
      </ul>
    </section>
  </div>
</section>

{% endblock %}
