---
title: Началась реставрация фасада усадьбы Полибино
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="body-blackout"></div>

<div class="tooltip-content">
</div>

<section class="page__main-header  page__main-header--no-pt">
  <div class="breadcrumbs  breadcrumbs--full">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="index.html">Главная</a></li>
      <li class="breadcrumbs__item"><a href="about.html">О фонде</a></li>
      <li class="breadcrumbs__item"><a href="news.html">Новости и события</a></li>
      <li class="breadcrumbs__item"><a>{{title}}</a></li>
    </ul>
  </div>
</section>

<section class="news-page  news-page--no-pb">
  <div class="news-page__wrapper">
    <article class="news-page__article  news-page__article--full">
      <div class="news-page__item-type">Проект</div>
      <time class="news-page__item-date" datetime="2021-07-15">15.07.2021, чт</time>

      <h3 class="news-page__item-title"><a href="#">Началась реставрация фасада усадьбы Полибино</a></h3>
      <div class="news-page__lead">
        <p>Краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст
          краткий
          текст краткий текст краткий текст краткий текст краткий текст краткий текст краткий текст.</p>
      </div>
      <div class="news-page__item-photo">
        <a href="#">
          <img src="//via.placeholder.com/640x430x" width="280" height="232" loading="lazy" alt="Фотография к новости">
        </a>
      </div>

      <div class="news-page__links">
        <a class="news-page__link  news-page__link--bg  news-page__link--blue" href="#">
          Поддержать
          <svg aria-hidden="true" width="10" height="8">
            <use href="/images/sprite_auto.svg#icon-arrow"></use>
          </svg>
        </a>
        <a class="news-page__link" href="#">
          Читать
          <svg aria-hidden="true" width="10" height="8">
            <use href="/images/sprite_auto.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>

      <div class="news-page__text-full">
        <h2>Заголовок H2</h2>
        <p>Учитывая ключевые сценарии поведения, укрепление и развитие внутренней структуры однозначно фиксирует
          необходимость благоприятных перспектив. Являясь всего лишь частью общей картины, сделанные на базе
          интернет-аналитики выводы набирают популярность среди определенных слоев населения, а значит, должны быть
          объединены в целые кластеры себе подобных. А ещё сторонники тоталитаризма в науке, вне зависимости от их
          уровня, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>

        <p>Повседневная практика показывает, что высококачественный прототип будущего проекта позволяет выполнить важные
          задания по разработке анализа существующих паттернов поведения. В своём стремлении улучшить пользовательский
          опыт мы упускаем, что тщательные исследования конкурентов описаны максимально подробно. Значимость этих
          проблем настолько очевидна, что разбавленное изрядной долей эмпатии, рациональное мышление в значительной
          степени обусловливает важность новых предложений. Задача организации, в особенности же убеждённость некоторых
          оппонентов напрямую зависит от благоприятных перспектив. А также предприниматели в сети интернет ограничены
          исключительно образом мышления.
        </p>
      </div>
    </article>

  </div>

  <section class="textpage">
    <div class="textpage__slider-section">
      <div class="textpage__slider  textpage__slider--no-mb">
        <div class="textpage__slider-wrapper  swiper-wrapper">
          <div class="textpage__slider-item  swiper-slide">
            <img src="//via.placeholder.com/410x295" alt="Описание к картинке">
          </div>
          <div class="textpage__slider-item  swiper-slide">
            <img src="//via.placeholder.com/410x295" alt="Описание к картинке">
          </div>
          <div class="textpage__slider-item  swiper-slide">
            <img src="//via.placeholder.com/410x295" alt="Описание к картинке">
          </div>
          <div class="textpage__slider-item  swiper-slide">
            <img src="//via.placeholder.com/410x295" alt="Описание к картинке">
          </div>
          <div class="textpage__slider-item  swiper-slide">
            <img src="//via.placeholder.com/410x295" alt="Описание к картинке">
          </div>
          <div class="textpage__slider-item  swiper-slide">
            <img src="//via.placeholder.com/410x295" alt="Описание к картинке">
          </div>
        </div>
        <div class="textpage__slider-contols">
          <!-- <div class="swiper-button-prev"></div> -->
          <div class="swiper-pagination"></div>
          <!-- <div class="swiper-button-next"></div> -->
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

  </section>
</section>

<section class="page-section">
  <div class="page-section__wrapper">
    <a class="page-section__back-link" href="#">
      <svg aria-hidden="true" width="16" height="14">
        <use href="images/sprite_auto.svg#icon-arrow"></use>
      </svg>
      Все новости и события
    </a>
  </div>
</section>



{% endblock %}
