---
title: Страница раздела
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="page-section">
  <div class="page-section__wrapper">
    <h1 class="page-section__title">О фонде</h1>

    <ul class="page-section__list">
      <li class="page-section__item">
        <a href="#" class="page-section__link">
          <img src="/images/page-section-pic-1.jpg" alt="Описание картинки">
          <div class="page-section__name">Общая информация</div>
        </a>
      </li>
      <li class="page-section__item">
        <a href="#" class="page-section__link">
          <img src="/images/page-section-pic-2.jpg" alt="Описание картинки">
          <div class="page-section__name">Попечительский совет</div>
        </a>
      </li>
      <li class="page-section__item">
        <a href="#" class="page-section__link">
          <img src="/images/page-section-pic-3.jpg" alt="Описание картинки">
          <div class="page-section__name">Управляющий совет</div>
        </a>
      </li>
      <li class="page-section__item">
        <a href="#" class="page-section__link">
          <img src="/images/page-section-pic-4.jpg" alt="Описание картинки">
          <div class="page-section__name">Документы и отчетность</div>
        </a>
      </li>
      <li class="page-section__item">
        <a href="#" class="page-section__link">
          <img src="/images/page-section-pic-5.jpg" alt="Описание картинки">
          <div class="page-section__name">Наши меценаты</div>
        </a>
      </li>
      <li class="page-section__item">
        <a href="#" class="page-section__link">
          <img src="/images/page-section-pic-6.jpg" alt="Описание картинки">
          <div class="page-section__name">Наши спонсоры</div>
        </a>
      </li>
      <li class="page-section__item">
        <a href="#" class="page-section__link">
          <img src="/images/page-section-pic-7.jpg" alt="Описание картинки">
          <div class="page-section__name">Наши партнеры</div>
        </a>
      </li>
      <li class="page-section__item">
        <a href="#" class="page-section__link">
          <img src="/images/page-section-pic-8.jpg" alt="Описание картинки">
          <div class="page-section__name">Новости и события</div>
        </a>
      </li>
      <li class="page-section__item">
        <a href="#" class="page-section__link">
          <img src="/images/page-section-pic-1.jpg" alt="Описание картинки">
          <div class="page-section__name">Мы в СМИ</div>
        </a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
