<section class="sponsors" data-aos="fade-up">
  <div class="sponsors__become">
    <div class="sponsors__wrapper">
      <div class="sponsors__become-title">Стать меценатом фонда</div>
      <a class="sponsors__become-link" href="#">
        Поддержать


        <svg aria-hidden="true" width="16" height="14">
          <use href="images/sprite_auto.svg#icon-arrow"></use>
        </svg>

      </a>
    </div>
  </div>
  <h2 class="sponsors__title"><span>Меценаты,</span> <span>Спонсоры,</span> <span>Партнеры</span></h2>

  <div class="swiper-container">
    <ul class="sponsors__list  swiper-wrapper">
      <div class="sponsors__item  swiper-slide">
        <article class="sponsors__item-article">
          <div class="sponsors__item-photo">
            <img src="//via.placeholder.com/300x254" width="300" height="254" alt="Описание фотографии">
          </div>
          <div class="sponsors__type">Меценат</div>
          <h3 class="sponsors__item-title">Иванов <br>
            Иван <br>
            Иванович</h3>
          <div class="sponsors__item-text">
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
          </div>
          <a href="#" class="sponsors__all-link">
            Все меценаты
            <svg aria-hidden="true" width="9" height="8">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </div>
      <div class="sponsors__item  swiper-slide">
        <article class="sponsors__item-article">
          <div class="sponsors__item-photo">
            <img src="//via.placeholder.com/300x254" width="300" height="254" alt="Описание фотографии">
          </div>
          <div class="sponsors__type">Меценат</div>
          <h3 class="sponsors__item-title">Иванов <br>
            Иван <br>
            Иванович</h3>
          <div class="sponsors__item-text">
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
          </div>
          <a href="#" class="sponsors__all-link">
            Все меценаты
            <svg aria-hidden="true" width="9" height="8">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </div>
      <div class="sponsors__item  swiper-slide">
        <article class="sponsors__item-article">
          <div class="sponsors__item-photo">
            <img src="//via.placeholder.com/300x254" width="300" height="254" alt="Описание фотографии">
          </div>
          <div class="sponsors__type  sponsors__type--blue">Спонсор</div>
          <h3 class="sponsors__item-title">Иванов <br>
            Иван <br>
            Иванович</h3>
          <div class="sponsors__item-text">
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
          </div>
          <a href="#" class="sponsors__all-link">
            Все спонсоры
            <svg aria-hidden="true" width="9" height="8">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </div>
      <div class="sponsors__item  swiper-slide">
        <article class="sponsors__item-article">
          <div class="sponsors__item-photo">
            <img src="//via.placeholder.com/300x254" width="300" height="254" alt="Описание фотографии">
          </div>
          <div class="sponsors__type  sponsors__type--blue">Спонсор</div>
          <h3 class="sponsors__item-title">Иванов <br>
            Иван <br>
            Иванович</h3>
          <div class="sponsors__item-text">
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
          </div>
          <a href="#" class="sponsors__all-link">
            Все спонсоры
            <svg aria-hidden="true" width="9" height="8">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </div>
      <div class="sponsors__item  swiper-slide">
        <article class="sponsors__item-article">
          <div class="sponsors__item-photo">
            <img src="//via.placeholder.com/300x254" width="300" height="254" alt="Описание фотографии">
          </div>
          <div class="sponsors__type  sponsors__type--light-green">Партнер</div>
          <h3 class="sponsors__item-title">Иванов <br>
            Иван <br>
            Иванович</h3>
          <div class="sponsors__item-text">
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
          </div>
          <a href="#" class="sponsors__all-link">
            Все партнеры
            <svg aria-hidden="true" width="9" height="8">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </div>
      <div class="sponsors__item  swiper-slide">
        <article class="sponsors__item-article">
          <div class="sponsors__item-photo">
            <img src="//via.placeholder.com/300x254" width="300" height="254" alt="Описание фотографии">
          </div>
          <div class="sponsors__type  sponsors__type--light-green">Партнер</div>
          <h3 class="sponsors__item-title">Иванов <br>
            Иван <br>
            Иванович</h3>
          <div class="sponsors__item-text">
            <p>Описание персоны описание персоны описание персоны описание персоны описание персоны описание персоны
              описание персоны описание персоны описание персоны.</p>
          </div>
          <a href="#" class="sponsors__all-link">
            Все партнеры
            <svg aria-hidden="true" width="9" height="8">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </article>
      </div>
    </ul>

    <div class="swiper-pagination"></div>
  </div>
  <div class="sponsors__links">
    <a href="#">
      Все меценаты
      <svg aria-hidden="true" width="16" height="14">
        <use href="images/sprite_auto.svg#icon-arrow"></use>
      </svg>
    </a>
    <a href="#">
      Все спонсоры
      <svg aria-hidden="true" width="16" height="14">
        <use href="images/sprite_auto.svg#icon-arrow"></use>
      </svg>
    </a>
    <a href="#">
      Все партнеры
      <svg aria-hidden="true" width="16" height="14">
        <use href="images/sprite_auto.svg#icon-arrow"></use>
      </svg>
    </a>
  </div>
</section>
