.custom-select {
  position: relative;

  width: 100%;
  // padding: 30px 0;

  font-size: 12px;
  line-height: 14px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 23px;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 8px;

    transform: translateY(-50%);

    transition: transform $trans--300, opacity $trans--300;

    pointer-events: none;
    color: $base-color;

    @media (min-width: 768px) {
      left: 30px;
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 8px;

    transform: translateY(-50%);

    transition: transform $trans--300, opacity $trans--300;

    pointer-events: none;

    @media (min-width: 768px) {
      left: 30px;
    }
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 53px;
    padding: 14px 8px;

    background-color: $color-transparent;
    border: none;
    border-bottom: 1px solid $base-color;
    outline: none;
    cursor: pointer;

    transition: border $trans--300;

    // &:hover {
    //   border: 1px solid rgba($base-color, 0.5);
    // }

    // &:focus {
    //   border: 1px solid rgba($base-color, 0.8);
    // }

    @media (min-width: 768px) {
      padding: 14px 30px;
    }
  }

  &__list {
    position: absolute;
    // bottom: 32px;
    top: calc(100% - 1px);
    z-index: 1;

    width: 100%;
    max-height: 100px;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    list-style: none;

    background-color: $color-default-white;
    border: 1px solid $base-color;
    visibility: hidden;
    opacity: 0;

    transition: visibility $trans--300, opacity $trans--300;
  }

  &__item {
    padding: 10px 18px;

    outline: none;
    cursor: pointer;

    transition: background-color $trans--300;

    &[aria-selected="true"] {
      background-color: #f5d9be;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          background-color: #f5d9be;
        }
      }
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: #f5d9be;
      }
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    left: 0;

    color: $color-fire-brick;

    opacity: 0;

    transition: opacity 0.1s ease;
  }

  &__text {
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    opacity: 0;

    transition: opacity $trans--300 0.1s;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 10px;
    height: 5px;
    margin-left: auto;

    background-color: $base-color;

    transition: transform $trans--300;

    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 30px));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }

    .custom-select__label {
      opacity: 0;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__button {
      border: 1px solid $color-fire-brick;

      &:focus,
      &:hover {
        border: 1px solid rgba($color-fire-brick, 0.5);
      }
    }
  }

  &.is-valid {
    .custom-select__button {
      background-color: #f5d9be;
    }
  }

  &--placeholder {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }
}
