.lang {
  margin-right: 20px;

  @media (max-width: 767px) {
    order: 2;
    margin-right: 0;
  }
}

.lang__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 53px;
  border: 2px solid $light-color;
  color: $light-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  transition: all 0.3s ease;

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  &:hover {
    color: $base-color;
    border-color: $base-color;
  }
}
