.mission {
  background-image: url("../images/mission-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left 94px;
  padding-top: 668px;
}

.mission__wrapper {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
}

.mission__title {
  @include title;
  width: 100%;
  margin-bottom: 40px;
  padding-right: 14%;
  text-align: right;
}

.mission__link {
  align-self: flex-end;
  font-size: 20px;
  line-height: 38px;
  color: $green-color;

  svg {
    margin-left: 10px;
  }
}

.mission__text {
  max-width: 740px;
  margin-left: auto;
  font-size: 24px;
  line-height: 38px;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
