.promo {
  // max-width: 1820px;
  // margin: 0 auto;
  // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  // background-position: top left, top right, bottom left, bottom center;
  // background-size: auto;
  margin-bottom: 18px;
  padding-top: 145px;
  padding-bottom: 157px;

  background: url("../images/promo/promo-bg-1-mobile.jpg"),
    url("../images/promo/promo-bg-2-mobile.jpg");
  // animation: changebg 20s linear infinite;
  background-position: 20px 0, 20px bottom;
  background-repeat: no-repeat;
  background-size: auto;
  // background-position: center;
  position: relative;

  @media (min-width: 768px) {
    margin-bottom: 0;
    padding-top: 290px;
    padding-bottom: 313px;
    background: #fff;
    background-image: url("../images/promo/promo-bg-4.jpg");
  }
}

.promo__wrapper {
  @include wrapper;
}

.promo__title {
  @include title;

  @media (max-width: 767px) {
    text-align: left;
  }
}

.promo__text {
  max-width: 740px;
  font-size: 24px;
  line-height: 30px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;

    p {
      margin-top: 5px;
    }
  }
}

@keyframes changebg {
  15% {
    background: url("../images/promo/promo-bg-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  30% {
    background: url("../images/promo/promo-bg-2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  45% {
    background: url("../images/promo/promo-bg-3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  60% {
    background: url("../images/promo/promo-bg-4.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  75% {
    background: url("../images/promo/promo-bg-3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  90% {
    background: url("../images/promo/promo-bg-2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  100% {
    background: url("../images/promo/promo-bg-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@keyframes bganim {
  0% {
    background: url("../images/promo/promo-bg-1.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
  }

  25% {
    background: url("../images/promo/promo-bg-2.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
  }

  50% {
    background: url("../images/promo/promo-bg-3.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
  }

  75% {
    background: url("../images/promo/promo-bg-4.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto;
  }

  100% {
    background: url("../images/promo/promo-bg-1.png"),
      url("../images/promo/promo-bg-2.png"),
      url("../images/promo/promo-bg-3.png"),
      url("../images/promo/promo-bg-4.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top left, top right, bottom left, bottom center;
    background-size: auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
