{% import "partials/_mixins.html" as mixins %}
<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Primary Meta Tags -->
  <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}Description{% endif %}">
  <link rel="preload" href="{{ base_path }}fonts/classica_one-webfont.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ base_path }}fonts/ubuntu-v15-latin_cyrillic-regular.woff2" as="font" type="font/woff2"
    crossorigin>
  <link rel="stylesheet" media="all" href="{{ base_path }}css/style.min.css" />
  <!-- BEGIN social data -->
  {% include "../partials/_media-tags.html" %}
  <!-- END social data -->
  <link rel="icon" href="{{ base_path }}favicon/favicon.ico"><!-- 32×32 -->
  <link rel="icon" href="{{ base_path }}favicon/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ base_path }}favicon/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="{{ base_path }}favicon/manifest.webmanifest">
</head>

<body class="page__body">
  <header class="header">
    <div class="header__wrapper">
      {% include "../partials/_main-nav.html" %}
    </div>
  </header>

  <!-- BEGIN content -->
  <main class="page__main">
    {% block content %}{% endblock %}
  </main>
  <!-- END content -->

  <footer class="footer">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <a class="footer__logo-link" href="#">
          <svg aria-hidden="true" width="338" height="60">
            <use href="images/sprite_auto.svg#logo"></use>
          </svg>
        </a>
        <div class="footer-copy"><span>©</span> Полибино 2021</div>
      </div>

      <div class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item"><a href="#">О фонде</a></li>
          <li class="footer__nav-item"><a href="#">Общая информация</a></li>
          <li class="footer__nav-item"><a href="#">Попечительский совет</a></li>
          <li class="footer__nav-item"><a href="#">Управляющий совет</a></li>
          <li class="footer__nav-item"><a href="#">Документы
              и отчетность</a></li>
          <li class="footer__nav-item"><a href="#">Наши меценаты</a></li>
          <li class="footer__nav-item"><a href="#">Наши спонсоры</a></li>
          <li class="footer__nav-item"><a href="#">Наши партнеры</a></li>
          <li class="footer__nav-item"><a href="#">Наши партнеры</a></li>
          <li class="footer__nav-item"><a href="#">Новости и события</a></li>
          <li class="footer__nav-item"><a href="#">Мы в СМИ</a></li>
        </ul>
        <ul class="footer__nav-list">
          <li class="footer__nav-item"><a href="#">Проекты</a></li>
          <li class="footer__nav-item"><a href="#">Реконструкция усадьбы</a></li>
          <li class="footer__nav-item"><a href="#">Реконструкция усадьбы</a></li>
          <li class="footer__nav-item"><a href="#">Авторские экскурсии</a></li>
        </ul>
        <ul class="footer__nav-list">
          <li class="footer__nav-item"><a href="#">Наследие Нечаевых</a></li>
          <li class="footer__nav-item"><a href="#">Семья</a></li>
          <li class="footer__nav-item"><a href="#">Усадьба Полибино</a></li>
          <li class="footer__nav-item"><a href="#">ГМИИ им. Пушкина</a></li>
          <li class="footer__nav-item"><a href="#">Шуховская башня</a></li>
        </ul>
      </div>
      <div class="footer__user-block">
        <div class="footer__donate"><a class="footer__donate-link" href="#">
            Поддержать
            <svg aria-hidden="true" width="16" height="14">
              <use href="images/sprite_auto.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
        <a class="footer__contacts" href="#">Контакты</a>
        <a class="footer__blind-version" href="#">Версия для слабовидящих</a>

      </div>
      <div class="footer__social  social">
        <ul class="social__list  social__list--footer">
          <li class="social__item">
            <a class="social__link  social__link--inst" href="#">
              <span class="visually-hidden">Страница в инстаграме</span>
              <svg aria-hidden="true" width="22" height="22">
                <use href="images/sprite_auto.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link  social__link--trip" href="#">
              <span class="visually-hidden">Страница в трипадвайзере</span>
              <svg aria-hidden="true" width="31" height="18">
                <use href="images/sprite_auto.svg#icon-trip"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link  social__link--vk" href="#">
              <span class="visually-hidden">Страница в вк</span>
              <svg aria-hidden="true" width="30" height="17">
                <use href="images/sprite_auto.svg#icon-vk"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link  social__link--fb" href="#">
              <span class="visually-hidden">Страница на фейсбуке</span>
              <svg aria-hidden="true" width="9" height="18">
                <use href="images/sprite_auto.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__lang  lang">
        <a href="#" class="lang__link">En</a>
      </div>
    </div>
  </footer>

  <!-- BEGIN scripts -->
  <script src="{{ base_path }}js/libs.min.js"></script>
  <script src="{{ base_path }}js/main.min.js"></script>
  <!-- END scripts -->

</body>

</html>
